<footer class="footer container-fluid text-muted bg-dark">
  <div class="row align-items-center justify-content-between">
    <div class="col-auto mr-auto">
      © Developed by <a href="https://github.com/cardiacunicorn">Alex Mills</a>, 2020.
    </div>
    <div class="col-auto">
      <a href="https://github.com/cardiacunicorn/djplaylist/tree/master">
        <img src="https://djplaylist-public-storage.s3-ap-southeast-2.amazonaws.com/images/github.png" alt="Github">
      </a>
    </div>
  </div>
</footer>
