<div class="tracks">
  <h3>Re-order Tracks</h3>
  <table class="table table-striped table-dark table-hover">
    <thead class="thead-dark">
      <tr>
        <th class="align-middle" scope="col">Track</th>
        <th class="align-middle" scope="col">Artist</th>
        <th class="align-middle centre-cell" scope="col">
          <button class="btn btn-info" type="button" name="popularity">Popularity</button>
        </th>
        <th class="align-middle centre-cell" scope="col">
          <button class="btn btn-info" type="button" name="danceability">Danceability</button>
        </th>
        <th class="align-middle centre-cell" scope="col">
          <button class="btn btn-info" type="button" name="tempo">Tempo</button>
        </th>
        <th class="align-middle centre-cell" scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let track of tracks">
        <td class="align-middle">{{ track.basic.name }}</td>
        <td class="align-middle">
          {{ track.basic.artists[0].name }}<span *ngIf="track.basic.artists[1]"> & {{ track.basic.artists[1].name }}</span>
        </td>
        <td class="align-middle centre-cell">{{ track.basic.popularity }}</td>
        <td class="align-middle centre-cell">{{ track.advanced.danceability }}</td>
        <td class="align-middle centre-cell">{{ track.advanced.tempo }}</td>
        <td class="align-middle centre-cell">
          <div class="btn-group btn-group-sm" role="group">
            <button type="button" class="btn btn-info" (click)="playSample(track.id)">►</button>
            <button type="button" class="btn btn-success" (click)="moveUp(track)">↑</button>
            <button type="button" class="btn btn-danger" (click)="moveDown(track)">↓</button>
            <audio [id]="track.id" [src]="track.basic.preview_url"></audio>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
