<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a href="#" class="navbar-brand">
    <img src="https://djplaylist-public-storage.s3-ap-southeast-2.amazonaws.com/images/dj-music.png" alt="DJ Logo">
  </a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" id="nav-home" routerLink="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="nav-login" href="http://localhost:8888/login">Log In</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="nav-playlists" routerLink="/playlists">Playlists</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="nav-tracks" routerLink="/tracks">Tracks</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="nav-docs" routerLink="/docs">Docs</a>
      </li>
    </ul>
  </div>
</nav>
