<nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">
        <img src="https://djplaylist-public-storage.s3-ap-southeast-2.amazonaws.com/images/dj-music.png" alt="DJ Logo">
      </a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="login.html">Log In</a></li>
        <li><a href="playlists.html">Playlists</a></li>
        <li><a href="playlists.html">Docs</a></li>
      </ul>
    </div>
  </nav>
<body>
  <div class="container">
    <h1>Welcome to DJ Playlist</h1>
    <p>Main content goes here</p>
  </div>
</body>
<footer class="page-footer">
    <div class="valign-wrapper row">
      <div class="col s9 offset-s1">
        <a class="white-text" href="https://github.com/cardiacunicorn">© Developed by Alex Mills, 2020.</a>
      </div>
      <div class="col s3 right-align">
        <a class="white-text" href="https://github.com/cardiacunicorn">
          <img src="https://djplaylist-public-storage.s3-ap-southeast-2.amazonaws.com/images/github.png" alt="Github">
        </a>
      </div>
    </div>
</footer>

<router-outlet></router-outlet>
