<div *ngIf="playlist" class="playlist">
  <h3>{{ playlist.name }} by {{ playlist.owner.display_name }}</h3>
  <label for="playlist-name">
    Rename playlist (ID: {{ playlist.id }}), using two-way data-binding `[()]`:
  </label>
  <input [(ngModel)]="playlist.name" type="text" name="playlist-name" placeholder="name" />
  <ol class="track-listing">
    <li>Tracks: {{ playlist.tracks.total }}</li>
    <li>TracksURL: {{ playlist.tracks.href }}</li>
  </ol>

  <app-tracks [tracks]="tracks"></app-tracks>
  <!-- <app-playlist [playlist]="selectedPlaylist"></app-playlist> -->

  <button (click)="goBack()">Back</button>
</div>
