<div *ngIf="playlist" class="playlist">
  <div id="playlist-info">
    <h2>Playlist: <em>{{ playlist.name }}</em></h2>
    <p>{{ playlist.tracks.total }} tracks by {{ playlist.owner.display_name }}</p>
  </div>
  <hr />
  <div id="new-playlist-creator" class="text-center">
    <form class="">
      <label for="playlist-name">New playlist name:</label>
      <input [(ngModel)]="playlist.name" type="text" name="playlist-name" placeholder="name" />
      <small class="form-text text-muted">Rename playlist (ID: {{ playlist.id }}), using two-way data-binding `[()]`</small>
      <button class="btn btn-primary" type="submit">Create</button>
    </form>
  </div>
  <hr />
  <app-tracks [tracks]="tracks"></app-tracks>
  <div class="text-center my-2">
    <button class="btn btn-secondary" (click)="goBack()">Back to Playlists</button>
  </div>
</div>
