/* Application-wide Styles */

$medblue: #527ACC;
$darkblue: #3D6DCC;
$pink: #CC6696;
$gold: #CCA03D;
$green: #47CC4A;
$dark: #333;
$light: #CCC;

body {
  font-family: Tahoma, Geneva, sans-serif;
  background-color: #282c34;
  color: white;
}

// .App {
//   text-align: center;
//   background-color: #282c34;
//   min-height: 100vh;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   font-size: calc(10px + 1vmin);
//   color: white;
// }

app-root {
  display: flex;
  flex-direction: column;
}

app-navbar {
  min-height: 5vh;
}

app-home {
  display: flex;
  flex-direction: column;
  min-height: 50vh;
}

app-messages {
  display: flex;
  flex-direction: column;
  min-height: 25vh;
}

/* Images */

img {
  margin: 0 1rem;
}

nav img {
  max-width: 4vw;
  max-height: 100%;
}

footer img {
  margin: 0.5rem;
  max-width: 3vw;
  max-height: 100%;
}

/* Text */

a:hover {
  opacity: 0.7;
}

code {
  font-family: 'Courier New',Menlo, monospace;
  font-weight: 600;
  font-size: 100%;
}

h1, h2, h3, h4, h5, h6 {
  margin: 1.5rem 0;
  color: $pink;
  text-decoration: underline $gold;
}

h1, h2, h3 {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-weight: lighter;
  text-decoration: underline wavy $green;
  text-decoration-skip-ink: none;
  text-underline-offset: 1em;
}

h1 {
  font-size: 250%;
  text-align: center;
  padding: 1vh 3vw;
}

/* Other elements */

hr {
  border-color: $gold;
}

.playlists li {
  cursor: pointer;
  position: relative;
  left: 0;
  margin: .5em;
  padding: .3em .5em;
  border-radius: 4px;
}
.playlists li:hover {
  color: white;
  background-color: $pink;
  left: 1em;
}
.playlists li.selected {
  background-color: $green;
  color: white;
}
.playlists li.selected:hover {
  background-color: $green;
  color: white;
}

.playlist-coverart {
  max-width: 100px;
  max-height: 100px;
  margin: 0;
}

.playlists tr {
  cursor: pointer;
  position: relative;
  left: 0;
  margin: .5em;
  padding: .3em .5em;
  border-radius: 4px;
}
.playlists tr:hover {
  color: white;
  background-color: $green;
  left: 1em;
}
.playlists tr.selected {
  background-color: $pink;
  color: white;
}
.playlists tr.selected:hover {
  background-color: $pink;
  color: white;
}

.centre-cell {
  text-align: center;
}

.nav-link {
  opacity: 1;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
