/* Application-wide Styles */

$medblue: #527ACC;
$darkblue: #3D6DCC;
$pink: #CC6696;
$gold: #CCA03D;
$green: #47CC4A;
$dark: #333;
$light: #CCC;

body {
  min-height: 100vh;
  background-color: #282c34;
  color: white;
}

// .App {
//   text-align: center;
//   background-color: #282c34;
//   min-height: 100vh;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   font-size: calc(10px + 1vmin);
//   color: white;
// }

app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #282c34;
}

app-navbar {
  min-height: 5vh;
}

app-home {
  display: flex;
  flex-direction: column;
  min-height: 50vh;
}

app-messages {
  display: flex;
  flex-direction: column;
  min-height: 25vh;
}

// app-footer {
//   color: white;
// }

img {
  margin: 0 1rem;
}

.nav-link {
  opacity: 1;
}

a:hover {
  opacity: 0.7;
}

nav img {
  max-width: 4vw;
  max-height: 100%;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  background-color: #282c34;
}

footer img {
  margin: 0.5rem;
  max-width: 3vw;
  max-height: 100%;
}

h1 {
  color: $darkblue;
  text-decoration: underline wavy $green;
  text-decoration-skip-ink: none;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 250%;
  text-align: center;
  padding: 1vh 3vw;
}

h2, h3 {
  color: $darkblue;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-weight: lighter;
  text-decoration: underline wavy $green;
  text-decoration-skip-ink: none;
}

/* everywhere else */
* {
  font-family: Tahoma, Geneva, sans-serif;
}

.playlists li {
  cursor: pointer;
  position: relative;
  left: 0;
  margin: .5em;
  padding: .3em .5em;
  border-radius: 4px;
}
.playlists li:hover {
  color: white;
  background-color: $pink;
  left: 1em;
}
.playlists li.selected {
  background-color: $green;
  color: white;
}
.playlists li.selected:hover {
  background-color: $green;
  color: white;
}

.playlist-coverart {
  max-width: 100px;
  max-height: 100px;
}
